section {
    border: 1px solid grey;
}

ol, ul {
    padding: 0;
    margin: 0;

    list-style: none;
}

button {
    cursor: pointer;
}

.army-selection {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.army {
    display: flex;
    /*align-items: center;
    justify-content: center;*/

    width: 8rem;
    height: 8rem;
    margin-bottom: 1em;
    border: 1px solid lightgrey;

    transition: all .2s ease-in-out;
}

@media all and (min-width: 768px) {

    .army {
        width: 12rem;
        height: 12rem;
    }

}

.army-icon {
    /*border: 1px solid; */
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    -webkit-tap-highlight-color: rgba(255,0,0, 0.0);

    transition: all .2s ease-in-out;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave {
    -webkit-transition:0.2s linear all;
    transition:0.2s linear all;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
    opacity:0;
}
.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
    opacity:1;
}

.army-icon:hover {
    background: lightgrey;
}

.army-icon:active {
    -webkit-transform: scale(0.8);
}

.is-disabled {
    background: red;
}

.selected {
    background: green;
}

.unit-stats {
    border-collapse: collapse;
}

.unit-stats td,
.unit-stats th {
    border: 1px solid gray;
}

.unit-stats input {
    width: 2rem;

    border: none;
    text-align: center;
}

.grid-column-3 {
    width: 20%;
    float: left;
}

.grid-column-9 {
    width: 78%;
    float: left;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}



