section {
    border: 1px solid grey;
}

ol, ul {
    padding: 0;
    margin: 0;

    list-style: none;
}

button {
    cursor: pointer;
}

.army-selection {
    display: flex;
    justify-content: center;
}

.army-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 12rem;
    height: 12rem;
    margin-right: 1em;

    border: 1px solid lightgrey;

    -webkit-transition: background .2s ease-in-out;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave {
    -webkit-transition:0.2s linear all;
    transition:0.2s linear all;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
    opacity:0;
}
.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
    opacity:1;
}

.army-icon:hover {
    background: lightgrey;
}

.army-icon:active {
    -webkit-transform: scale(0.8);
}

.is-disabled {
    background: red;
}

