<section class="grid-column-3">
    <button ng-click="createUnit()">Crear nuevo</button>
    <div>
        <input ng-model="query">
        <select ng-model="orderProp">
            <option value="name">Alphabetical</option>
            <option value="cost">Cost</option>
        </select>
        <ul class="units">
            <li ng-repeat="unit in army.units | filter:query | orderBy:orderProp"
                class="repeat-item" ng-class="{ selected: unit.selected }">
                <a href="#/armies/{{ army._id.$oid }}/units/{{ unit._id.$oid }}" ng-click="viewUnit(unit)">{{ unit.name }}</a>
                <span>{{ unit.cost }}</span>
                [<a href="" ng-click="removeUnit(unit)">X</a>]
            </li>
        </ul>
    </div>
    <p>Total: {{ army.units.length }}</p>
</section>
<section class="grid-column-9" ui-view>
</section>
