<h2>{{ army.name }}</h2>
<nav>
    <ul class="menu">
        <!--<li><a ng-href="#/armies/{{army._id.$oid}}/units">Unidades</a></li>-->
        <li><a ui-sref="army.units({armyId: army._id.$oid })" ui-sref-opts="{reload: true}">Unidades</a></li>
        <li><a ng-href="#/armies/{{army._id.$oid}}/gear">Equipo</a></li>
        <li><a ng-href="#/armies/{{army._id.$oid}}/rules">Reglas</a></li>
        <li><a ng-href="#/armies/{{army._id.$oid}}/lore">Lore</a></li>
    </ul>
</nav>
<section ui-view class="group">
    <p>Cargando!</p>
</section>
