<section class="grid-column-3">
    <button ng-click="createUnit()">Crear nuevo</button>
    <div>
        <input ng-model="query">
        <select ng-model="orderProp">
            <option value="name">Alphabetical</option>
            <option value="cost">Cost</option>
        </select>
        <ul class="units">
            <li ng-repeat="unit in army.units | filter:query | orderBy:orderProp"
                class="repeat-item">
                <a href="" ng-click="viewUnit(unit)">{{ unit.name }}</a>
                <span>{{ unit.cost }}</span>
                [<a href="" ng-click="removeUnit(unit)">X</a>]
            </li>
        </ul>
    </div>
    <p>Total: {{ army.units.length }}</p>
</section>
<section class="grid-column-9">
    <h3>{{ selectedUnit.name }}</h3>
    <span>{{ selectedUnit.cost }}</span>
    <editable-grid data="selectedUnit"></editable-grid>
    <div ng-bind-html="selectedUnit.description"></div>
</section>
