<h2>{{ selectedUnit.name }}</h2>
<form ng-submit="save(rule)" xmlns="http://www.w3.org/1999/html">
    <fieldset>
        <legend>Detalles</legend>
        <p><label>Nombre: <input name="nombre" type="text" ng-model="rule.name" required></label></p>
        <p><label>Tipo: <select>
            <option>Universal</option>
            <option>Ejército</option>
            <option>Unidad</option>
        </select></label></p>
        <p><label>Descripcion: <textarea ckeditor="editorOptions" name="descripcion" ng-model="rule.description"></textarea></label></p>
    </fieldset>
    <!--<button ng-click="save(unit)">Guardar</button>-->
    <button type="submit">Guardar</button>
    <button ng-click="cancel()" type="button">Cancelar</button>
    <button ng-click="endEdition()" type="button">test retorno</button>
</form>
