<form ng-submit="save(unit)" xmlns="http://www.w3.org/1999/html">
<!--<form action="/api/units" method="POST">-->
    <fieldset>
        <legend>Detalles</legend>
        <p><label>Nombre: <input name="nombre" type="text" ng-model="unit.name" required></label></p>
        <p><label>Coste: <input name="coste" type="number" ng-model="unit.cost" required></label></p>
        <p><label>Descripcion: <textarea name="descripcion" ng-model="unit.description"></textarea></label></p>
    </fieldset>
    <fieldset>
        <legend>Seccion</legend>
        <label ng-repeat="section in sections">
            <input type="radio" name="seccion" value="{{ section.value }}" ng-model="unit.section">{{ section.name }}</input>
        </label>
    </fieldset>
    <fieldset>
        <legend>Tipo</legend>
        <!--<ul>
            <li ng-repeat="type in types">
                {{ type.name }}
                <ul ng-switch="type.subtypes">
                    <li ng-repeat="subtype in type.subtypes">{{ subtype.name }}</li>
                </ul>
            </li>
        </ul>-->

        <label ng-repeat="type in types">
            <input type="radio" name="type" value="{{ type.value }}" ng-model="unit.type">{{ type.name }}</input>
            <select ng-model="unit.subtypes" multiple>
                <option ng-repeat="subtype in type.subtypes" value="{{ subtype.value }}">{{ subtype.name }}</option>
            </select>
        </label>

    </fieldset>
    <fieldset>
        <legend>Composición</legend>
        <input type="checkbox" name="composition" ng-model="unit.unique">Único</input>
        <label>Min: <input name="min" type="number" ng-model="unit.composition.min" ng-readonly="unit.unique" required></label>
        <label>Max: <input name="min" type="number" ng-model="unit.composition.max" ng-readonly="unit.unique" required></label>
    </fieldset>
    <fieldset ng-switch on="unit.type">
        <legend>Stats</legend>
            <table border="1" ng-switch-when="troop">
                <thead>
                <tr>
                    <th>HA</th>
                    <th>HP</th>
                    <th>F</th>
                    <th>R</th>
                    <th>H</th>
                    <th>I</th>
                    <th>A</th>
                    <th>L</th>
                    <th>S</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <!-- TODO: type=dice -->
                    <td><input name="ws" ng-model="unit.stats.ws"></td>
                    <td><input name="bs" ng-model="unit.stats.bs"></td>
                    <td><input name="s" ng-model="unit.stats.s"></td>
                    <td><input name="t" ng-model="unit.stats.t"></td>
                    <td><input name="w" ng-model="unit.stats.w"></td>
                    <td><input name="i" ng-model="unit.stats.i"></td>
                    <td><input name="a" ng-model="unit.stats.a"></td>
                    <td><input name="ld" ng-model="unit.stats.ld"></td>
                    <td><input name="sv" ng-model="unit.stats.sv"></td>
                </tr>
                </tbody>
            </table>
            <table border="1" ng-switch-when="vehicle">
                <thead>
                <tr>
                    <th>HP</th>
                    <th>BF</th>
                    <th>BL</th>
                    <th>BP</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td ng-show="unit.subtypes.indexOf('walker') != -1"><input name="ws" ng-model="unit.stats.ws" type="number"></td>
                    <td><input name="bs" ng-model="unit.stats.bs" type="number"></td>
                    <td ng-show="unit.subtypes.indexOf('walker') != -1"><input name="s" ng-model="unit.stats.s" type="number"></td>
                    <td><input name="f" ng-model="unit.stats.f" type="number"></td>
                    <td><input name="s" ng-model="unit.stats.s" type="number"></td>
                    <td><input name="r" ng-model="unit.stats.r" type="number"></td>
                    <td ng-show="unit.subtypes.indexOf('walker') != -1"><input name="i" ng-model="unit.stats.i" type="number"></td>
                    <td ng-show="unit.subtypes.indexOf('walker') != -1"><input name="a" ng-model="unit.stats.a" type="number"></td>
                </tr>
                </tbody>
            </table>
        <!--<table border="1" ng-show="unit.type != 'vehicle'">
            <thead>
                <tr>
                    <th>HA</th>
                    <th>HP</th>
                    <th>F</th>
                    <th>R</th>
                    <th>H</th>
                    <th>I</th>
                    <th>A</th>
                    <th>L</th>
                    <th>S</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input name="ws" ng-model="unit.stats.ws" type="number" min="1" max="10"></td>
                    <td><input name="bs" ng-model="unit.stats.bs" type="number" min="1" max="10"></td>
                    <td><input name="s" ng-model="unit.stats.s" type="number" min="1" max="10"></td>
                    <td><input name="t" ng-model="unit.stats.t" type="number" min="1" max="10"></td>
                    <td><input name="w" ng-model="unit.stats.w" type="number" min="1" max="10"></td>
                    <td><input name="i" ng-model="unit.stats.i" type="number" min="1" max="10"></td>
                    <td><input name="a" ng-model="unit.stats.a" type="number" min="1" max="10"></td>
                    <td><input name="ld" ng-model="unit.stats.ld" type="number" min="1" max="10"></td>
                    <td><input name="sv" ng-model="unit.stats.sv" type="number" min="1" max="10"></td>
                </tr>
            </tbody>
        </table>
        <table border="1" ng-show="unit.type == 'vehicle'">
            <thead>
            <tr>
                <th>HP</th>
                <th>BF</th>
                <th>BL</th>
                <th>BP</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td ng-show="unit.subtypes.indexOf('walker') != -1"><input name="ws" ng-model="unit.stats.ws" type="number"></td>
                <td><input name="bs" ng-model="unit.stats.bs" type="number"></td>
                <td ng-show="unit.subtypes.indexOf('walker') != -1"><input name="s" ng-model="unit.stats.s" type="number"></td>
                <td><input name="f" ng-model="unit.stats.f" type="number"></td>
                <td><input name="s" ng-model="unit.stats.s" type="number"></td>
                <td><input name="r" ng-model="unit.stats.r" type="number"></td>
                <td ng-show="unit.subtypes.indexOf('walker') != -1"><input name="i" ng-model="unit.stats.i" type="number"></td>
                <td ng-show="unit.subtypes.indexOf('walker') != -1"><input name="a" ng-model="unit.stats.a" type="number"></td>
            </tr>
            </tbody>
        </table>-->
    </fieldset>
    <fieldset>
        <legend>Equipo</legend>
        <a href="" ng-click="add()">Añadir</a>
        <p ng-repeat="gear in unit.wargear">Cosa</p>
    </fieldset>
    <!--<button ng-click="save(unit)">Guardar</button>-->
    <button type="submit">Guardar</button>
    <button ng-click="cancel()" type="button">Cancelar</button>
</form>
<pre>{{ unit }}</pre>