<article>
    <header>
        <h2>{{ unit.name }}</h2>
        <span>{{ unit.cost }}</span>
    </header>
    <div>
        <a href="#">Editar</a>
        <a href="#">Borrar</a>
    </div>
    <!--<table border="1">
        <thead>
            <tr>
                <th ng-repeat="(key, value) in unit.stats">
                    {{ key }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td ng-repeat="(key, value) in unit.stats">
                     {{ value }}
                </td>
            </tr>
        </tbody>
    </table>-->
    <editable-grid data="unit"></editable-grid>
</article>
