<h2>Crear</h2>
<form method="POST" action="/api/units" novalidate>
    <fieldset>
        <legend>Detalles</legend>
        <p><label>Nombre: <input name="nombre" type="text" required></label></p>
        <p><label>Coste: <input name="coste" type="number" required></label></p>
        <p><label>Descripcion: <textarea name="descripcion" required></textarea></label></p>
    </fieldset>
    <fieldset>
        <legend>Tipo</legend>
        <p><label><input type=radio name=tipo> cg </label></p>
        <p><label><input type=radio name=tipo> elite </label></p>
        <p><label><input type=radio name=tipo> tropa de línea </label></p>
        <p><label><input type=radio name=tipo> transporte asignado </label></p>
        <p><label><input type=radio name=tipo> ataque rápido </label></p>
        <p><label><input type=radio name=tipo> apoyo pesado </label></p>
    </fieldset>
    <fieldset>
        <legend>Estadísticas</legend>
    </fieldset>
    <input type="submit" value="Submit">
</form>