    <!--<form action="/api/units" method="POST">-->
    <fieldset>
        <legend>Detalles</legend>
        <p><label>Nombre: <input name="nombre" type="text" ng-model="unit.name" required></label></p>
        <p><label>Coste: <input name="coste" type="number" ng-model="unit.cost" required></label></p>
        <p><label>Descripcion: <textarea ckeditor="editorOptions" name="descripcion" ng-model="unit.description"></textarea></label></p>
    </fieldset>
    <fieldset>
        <legend>Seccion</legend>
        <label ng-repeat="section in sections">
            <input type="radio" name="seccion" value="{{ section.value }}" ng-model="unit.section" />
            {{ section.name }}
        </label>
    </fieldset>
    <fieldset>
        <legend>Tipo</legend>
        <!--<ul>
            <li ng-repeat="type in types">
                {{ type.name }}
                <ul ng-switch="type.subtypes">
                    <li ng-repeat="subtype in type.subtypes">{{ subtype.name }}</li>
                </ul>
            </li>
        </ul>-->

        <label ng-repeat="type in types">
            <input type="radio" name="type" value="{{ type.value }}" ng-model="unit.type">{{ type.name }}</input>
            <select ng-model="unit.subtypes" multiple>
                <option ng-repeat="subtype in type.subtypes" value="{{ subtype.value }}">{{ subtype.name }}</option>
            </select>
        </label>

    </fieldset>
    <fieldset>
        <legend>Composición</legend>
        <input type="checkbox" name="composition" ng-model="unit.unique">Único</input>
        <label>Min: <input name="min" type="number" ng-model="unit.composition.min" ng-readonly="unit.unique" required></label>
        <label>Max: <input name="min" type="number" ng-model="unit.composition.max" ng-readonly="unit.unique" required></label>
    </fieldset>

    <fieldset>
        <legend>Stats</legend>
        <editable-grid data="unit"></editable-grid>
    </fieldset>
    <fieldset>
        <legend>Equipo</legend>
        <a href="" ng-click="addWargear()">Añadir</a>
        <ul>
            <li ng-repeat="gear in unit.wargear">
                Equipo [<a href="" ng-click="removeWargear($index)">X</a>]
            </li>
        </ul>
    </fieldset>
    <fieldset>
        <legend>Reglas especiales</legend>
        <button type="button">Añadir regla universal</button>
        <button type="button" ng-click="createUnitRule()">Crear regla propia</button>
        <!--<a href="#/rules/new?u={{ unit._id.$oid}}">Crear regla propia</a>-->

        <div style="display: flex; flex-wrap: wrap">
        <div style="border: 1px solid; flex: 0 0 300px">
            <span>Buscador paginado, etc.</span>
            <input ng-model="query.name">
            <div style="height: 125px; overflow-y: auto">
                <ul>
                    <!-- en ng-class, el nombre de la clase tiene que ir entre '' para que deje pasar el hyphen -->
                    <!-- ¿cómo c... se niega el predicado del filtro si es una función...? -->
                    <li ng-repeat="rule in rules | filter:query | filter:ruleNotSelected" ng-class="{'is-disabled': rule.selected}">
                        <a href="#/rules/{{ rule._id.$oid }}/slug">{{ rule.name }}</a> <a href="" ng-click="addSpecialRule(rule)">Añadir</a></li>
                </ul>
            </div>
        </div>
        <ul style="border: 1px solid red; flex: 0 0 300px">
            <li ng-repeat="rule in unit.specialRules | filter: {type: 'universal'}">
                <!--<a href="#/rules/{{ rule._id.$oid }}/slug">{{ rule.name }}</a> [<a href="" ng-click="removeSpecialRule($index)">X</a>]-->
                <a href="#/rules/{{ rule._id.$oid }}/slug">{{ rule.name }}</a> [<a href="" ng-click="removeSpecialRule(rule)">X</a>]
            </li>
        </ul>
        <ul style="border: 1px solid; flex: 0 0 300px">
            <li ng-repeat="rule in unit.specialRules | filter: {type: 'individual'}">
                <!--<a href="#/rules/{{ rule._id.$oid }}/slug">{{ rule.name }}</a> [<a href="" ng-click="removeSpecialRule($index)">X</a>]-->
                <a href="#/rules/{{ rule._id.$oid }}/slug">{{ rule.name }}</a> [<a href="" ng-click="removeSpecialRule(rule)">X</a>]
            </li>
        </ul>
        </div>
    </fieldset>
<pre ng-bind="unit | json"></pre>